body {
  padding: 20px;
  background-color: grey;
  color: white;
}

.nav {
  display: grid;
  grid-template: 1fr/120px 120px;
  gap: 50px;
  margin-bottom: 50px;
}

.nav__link {
  position: relative;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background-color: transparent;
  border: 2px solid white;
}

.nav__link:hover::before {
  left: calc(100% - 20px);
}

.nav__link:hover::after {
  right: calc(100% - 20px);
}

.nav__link::before {
  position: absolute;
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  left: 0;
  top: -2px;
  background-color: grey;
  transition: 500ms ease-in-out;
}

.nav__link::after {
  position: absolute;
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  right: 0;
  bottom: -2px;
  background-color: grey;
  transition: 500ms ease-in-out;
}

.grid {
  display: grid;
  grid-template-rows: [start] 150px [row2] 150px [row-end];
  grid-template-columns: [start] 1fr [col2] 1fr [col3] 1fr [col-end];
  /* grid-template: repeat(2, 1fr) / repeat(3, 1fr); */
  /* justify-items: start;
  align-items: end; */
  row-gap: 20px;
  column-gap: 30px;
}

.grid__item {
  padding: 30px;
  text-align: center;
  border: 2px dashed white;
}

.grid__item1 {
  /* grid-row-start: row-end; */
  /* grid-column-start: col3; */
  align-self: stretch;
  justify-self: stretch;
  grid-row: start / row2;
  grid-column: col2 / col3;
  background-color: #794f45;
}

.wrapper {
  width: 200px;
  margin: 50px 0px;
}

.btn {
  display: block;
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-decoration: none;
  color: white;
  font-family: Arial;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 3px;
  position: relative;
  text-align: center;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

svg rect {
  fill: transparent;
  stroke: white;
  stroke-width: 5px;
  stroke-dasharray: 10px 180px 20px 50px 20px 180px 20px 50px;
  width: 100%;
  height: 100%;
  transition: 0.5s all;
}

.btn:hover rect {
  stroke-dasharray: 200px 0 70px 0 200px 0 70px 0;
}

.scene {
  perspective: 600px;
  width: 300px;
  outline: 1px solid white;
}
.scene:hover .anim__box {
  transform: rotateY(180deg);
}
.anim__box {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid white;
  transform-style: preserve-3d;
  /* transform-origin: center left; */
  transform: rotateY(0deg);
  transition: transform 1000ms ease-in-out;
}

.anim__img-thumb {
  position: relative;
  overflow-y: hidden;
}

.anim__img-thumb::before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: teal;

  opacity: 0.8;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
}

.anim__img-thumb:hover::before {
  transform: translateY(0%);
}

.anim__img-thumb img {
  display: block;
  width: 100%;
}

.anim__text {
  position: relative;
  margin: 0;
  padding: 20px;
  border-top: 1px solid white;
  overflow: hidden;
}

.anim__text::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  display: inline-block;
  background-color: teal;
  transform: translateX(-100%);
  transition: transform 250ms ease-in-out;
}
.anim__text:hover::after {
  transform: translateX(0%);
}
