h1 {
  color: tomato;
}
.grid {
  display: grid;
  font-size: 30px;
  padding: 20px;
  color: white;
  background-color: #794f45;
  margin: 0px 0px 20px 0px;
}
.grid-inline {
  display: inline-grid;
  font-size: 30px;
  padding: 20px;
  color: white;
  background-color: #77608d;
}
