body {
  padding: 20px;
  background-color: grey;
  color: white;
}

.nav {
  display: grid;
  grid-template: 1fr/120px 120px;
  gap: 50px;
  margin-bottom: 50px;
}

.nav__link {
  position: relative;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background-color: transparent;
  border: 2px solid white;
}

.nav__link:hover::before {
  left: calc(100% - 20px);
}

.nav__link:hover::after {
  right: calc(100% - 20px);
}

.nav__link::before {
  position: absolute;
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  left: 0;
  top: -2px;
  background-color: grey;
  transition: 500ms ease-in-out;
}

.nav__link::after {
  position: absolute;
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  right: 0;
  bottom: -2px;
  background-color: grey;
  transition: 500ms ease-in-out;
}

.grid__body {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 200px);
  /* grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 1fr); */
}

.grid__item {
  font-size: 20px;
  text-align: center;
  /* border: 2px dashed rgba(255, 255, 255, 0.2); */
  padding: 30px;
}

.blue {
  border: 2px dashed blue;
}
.green {
  border: 2px dashed green;
}
.red {
  border: 2px dashed red;
}
.orange {
  border: 2px dashed orange;
}
.purple {
  border: 2px dashed purple;
}
.white {
  border: 2px dashed white;
}
.pink {
  border: 2px dashed pink;
}

/*---Area names---*/

.grid-wrapper {
  display: grid;

  grid-template:
    [start] "header header" 100px[row2]
    [row2] "side content" 1fr[row-end]/150px 1fr;
}
/* grid-template-columns: 150px 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    "header header"
    "side content";
 */

.grid-header,
.grid-side,
.grid-content {
  padding: 30px;
  border: 2px dashed rgba(255, 255, 255, 0.2);
  margin: 0px 0px 15px 0px;
}

.grid-header {
  grid-area: header;
}

.grid-side {
  grid-area: side;
}

.grid-content {
  grid-area: content;
}

.grid-auto {
  display: grid;
  /* grid-template: 1fr 1fr / repeat(2, 1fr); */
  grid-auto-rows: 100px;
  grid-auto-columns: 100px;
}

.grid-auto__item {
  text-align: center;
  padding: 30px;
  font-size: 30px;
}

.grid-masonry {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template: 1fr 1fr / repeat(2, 1fr); */
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  counter-reset: item;
}

.grid-masonry__item {
  padding: 10px;
  font-size: 30px;
}

.grid-masonry__item.purple {
  grid-column: span 2;
  grid-row: span 2;
}
